In [9]:
# Importing Libraries
import pandas as pd

In [10]:
# Load the CSV
df = pd.read_csv("/workspaces/codespaces-jupyter/Assignment/data/RELIANCE.BSE_historical_20250414_084011.csv",index_col="Date", parse_dates=True)
df

                 Open       High        Low      Close      Volume
Date
2005-01-03   354.4090   371.0712   354.4090   370.1174  23685843.0
2005-01-04   364.5974   371.3782   360.8490   361.7348  20119886.0
2005-01-05   358.1232   363.9158   351.8194   361.1214  33908532.0
2005-01-06   357.7824   365.6194   356.1470   358.4298  26893035.0
2005-01-07   359.8268   373.1158   359.5200   368.5838  33939690.0
...               ...        ...        ...        ...         ...
2025-04-04  1240.0000  1245.2000  1192.8500  1204.7000    785059.0
2025-04-07  1125.0000  1171.0000  1115.5500  1166.2000   1433461.0
2025-04-08  1177.8500  1196.8000  1163.8500  1182.4000    894893.0
2025-04-09  1172.4000  1189.5000  1169.1000  1185.6000    495957.0
2025-04-11  1200.0000  1222.4500  1197.0500  1219.3000    684519.0

[4995 rows x 5 columns]

In [11]:
# Step 2: Convert all columns to float
df = df.astype(float)

In [12]:
# Sort by date (just to be safe)
df = df.sort_index()

In [13]:
# Feature Engineering
df["return_pct"] = df["Close"].pct_change()
df["volume_change"] = df["Volume"].pct_change()
df["ma_5"] = df["Close"].rolling(window=5).mean()
df["ma_20"] = df["Close"].rolling(window=20).mean()
df["std_5"] = df["Close"].rolling(window=5).std()
df["std_20"] = df["Close"].rolling(window=20).std()
df["price_diff"] = df["Close"] - df["Open"]

In [14]:
# Label for classification (1 if price goes up next day, else 0)
df["target_up_down"] = (df["Close"].shift(-1) > df["Close"]).astype(int)

In [15]:
# Drop NaN values generated due to rolling operations
df.dropna(inplace=True)

In [16]:
# Save to new file
df.to_csv("/workspaces/codespaces-jupyter/Assignment/data/stock_features.csv")